/* import at rule */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://necolas.github.io/normalize.css/latest/normalize.css");

/* ! TODO -- Transform RGB To Hex -- ¡ */

/* Common */

html {
    font-family: 'Raleway', sans-serif;

    /* debug */
    /* background-color: yellow; */
}

body {
    margin: 0px auto;
    max-width: 1400px;
    min-width: 375px;

    /* debug */
    border: 3px;
    /* border-color: brown; */
}

h1, h2 {
    font-style: normal;
}

ul {
    list-style: none;
}

h1 {
    font-size: 22px;
    /* debug */
    /* background-color: violet; */
}

h2 {
    font-size: 18px;
}

p {
    font-style: normal;
    font-size: 16px;
}

p {
    /* debug */
    /* background-color: darkgoldenrod; */
}

a {
    color: black;
    text-decoration: none;
}

/* Component */

/* Filter */

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px 0px 20px;
    height: 48px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 25px;
    /* margin: 10px; */

    /* debug */
    background-color: white;
}

.filter:focus {
    background-color: rgb(222, 235, 255);
}

.filter p {
    font-weight: bold;
    font-size: 17px;
    margin-left: 10px;
}

.filter i {
    color: rgb(0, 101, 252);
}

/* Header */

header {
    /* debug */
    /* background-color: darkgrey; */
}

/* Logo/nav container */
.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading ul {
    padding: 0;
    margin: 0;
    display: flex;
}

.heading li {
    border-top: 3px solid transparent;
}

.heading li:hover {
    border-top-color: rgba(0, 101, 252, 1);
}

.heading a {
    display: block;
    padding: 30px;
}

.heading a:hover {
    color: rgba(0, 101, 252, 1);
}

.heading img {
    width: 60px;
    height: auto;
}

.heading-footer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.heading-footer > p {
    margin-top: -15px;
}

form {
    display: flex;
    flex-direction: row;
    height: 50px;
    border-radius: 15px;
    width: fit-content;
    background-color: #F2F2F2;
    font-size: 18px;
    font-weight: bold;
}

form > * {
    font-weight: inherit;
}

.searchIcon {
    align-self: center;
    padding-left: 16px;
    padding-right: 16px;
}

input[type="search"] {
    padding-left: 16px;
    border-color: #F2F2F2;
    border-style: solid;
}

.search-button {
    background-color: #0065FC;
    color: white;
    padding: 0px 16px 0px 16px;
    /* FIXME: Pas une meilleur version directement sur le container ? */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
}

/* Reset heading footer items */
.heading-footer > * {
    padding: 0px;
    margin: 0px;
}

#information-container {
    display: flex;
    align-items: center;
    column-gap: 10px;

    /* debug */
    /* background-color: red; */
}

.filter-bar {
    display: flex;
    flex-direction: row;
    column-gap: 36px;
    align-items: center;
}

/* Main */

main {
    /* debug */
    /* background-color: aqua; */
}

/* Section */

section {
    /* debug */
    /* background-color: coral; */
}

article {
    /* debug */
    /* background-color: white; */
}

.card-container {
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.10);
    background-color: white;
}

.card-container-1 {
   
    /* debug */
    width: 236px;
}

.card-container-1 img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 125px;
    width: 100%;
    object-fit: cover;
}

.card-details-1 {
    /* debug */
    /* background-color: burlywood; */
}

.card-details-1 > * {
    padding: 0px;
    margin: 10px;
}

.card-container-2 {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    height: 145px;

    /* debug */
    width: 345px;
    /* width: fit-content; */
}

.card-item-left {
    width: 40%;
}

.card-item-left > img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-item-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;

    /* debug */
    /* background-color: red; */
}

.card-item-right-top {
    display: flex;
    flex-direction: column;

    /* debug */
    /* background-color: orange; */
}

.card-item-right-top > * {
    padding: 0px;
    margin: 0px;
}

/* Section Activity */

.card-container-activity {
    padding: 0px;
}

.card-container-activity img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.card-container-activity h3 {
    padding-left: 16px;
}

.activity-section-grid {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}


/* Footer */

.section-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    column-gap: 250px;

    margin-top: 16px;

    background-color: #F2F2F2;
}

.section-footer li {
    margin-bottom: 12px;
}


/* Section Hébergements + Populaire */

.outer-section-container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    column-gap: 40px;
}

.inner-section-container {
    padding: 40px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.grid-33 {
    width: 33.3333%;
}

.collocation-section-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
}

.grid-66 {
    width: 66.6666%
}

.trend-section-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 30px;
}

/* Stars */

.stars-container {
    display: flex;
    flex-direction: row;
    column-gap: 2px;
}

.star-plain {
    color: #0065FC;
}

.star-bordered {
    color: #F2F2F2;
}