/* import at rule */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://necolas.github.io/normalize.css/latest/normalize.css");

/* ! TODO -- Transform RGB To Hex -- ยก */

/* Common */

html {
    font-family: 'Raleway', sans-serif;

    /* debug */
    /* background-color: yellow; */
}

body {
    margin: 0px auto;
    max-width: 1400px;
    min-width: 375px;

    /* debug */
    border: 3px;
    /* border-color: brown; */
}

h1, h2 {
    font-style: normal;
}

h1 {
    font-size: 22px;
    /* debug */
    /* background-color: violet; */
}

h2 {
    font-size: 18px;
}

p {
    font-style: normal;
    font-size: 16px;
}

p {
    /* debug */
    /* background-color: darkgoldenrod; */
}

a {
    text-decoration: none;
}

/* Component */

/* Filter */

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px 0px 20px;
    height: 48px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 25px;
    /* margin: 10px; */

    /* debug */
    background-color: white;
}

.filter:hover {
    background-color: rgb(222, 235, 255);
}

.filter p {
    font-weight: bold;
    font-size: 17px;
    margin-left: 10px;
}

.filter i {
    color: rgb(0, 101, 252);
}

/* Header */

header {
    /* debug */
    /* background-color: darkgrey; */
}

/* Logo/nav container */
.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* debug */
    /* background-color: gold; */
}

.heading nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    /* debug */
    /* background-color: beige; */
}

.heading nav ul li {
    display: inline;
    padding: 30px;
    border-top: 3px solid transparent;

    /* debug */
    /* background-color: aquamarine; */
}

.heading nav ul li:hover {
    border-top-color: rgba(0, 101, 252, 1);
}

.heading a {
    color: black;
}

.heading a:hover {
    color: rgba(0, 101, 252, 1);
}

.heading img {
    width: 60px;
    height: auto;
}

.headingFooter {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    /* debug */
    /* background-color: darkmagenta; */
}

.headingFooter > p {
    margin-top: -15px;
}

form {
    display: flex;
    /* align-items: stretch; */
    flex-direction: row;
    height: 50px;
    /* border-style: solid; */
    border-radius: 15px;
    width: fit-content;
    background-color: #F2F2F2;
    font-size: 18px;
    font-weight: bold;
}

form > * {
    font-weight: inherit;
}

.searchIcon {
    align-self: center;
    padding-left: 16px;
    padding-right: 16px;
}

input[type="search"] {
    padding-left: 16px;
    border: 0px;
}

.searchButton {
    background-color: #0065FC;
    color: white;
    padding: 0px 16px 0px 16px;
    /* FIXME: Pas une meilleur version directement sur le container ? */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
}

/* Reset heading footer items */
.headingFooter > * {
    padding: 0px;
    margin: 0px;
}

#information-container {
    display: flex;
    align-items: center;
    column-gap: 10px;

    /* debug */
    /* background-color: red; */
}

.filterBar {
    display: flex;
    flex-direction: row;
    column-gap: 36px;
    align-items: center;
}

/* Main */

main {
    /* debug */
    background-color: aqua;
}

/* Section */

section {
    /* debug */
    background-color: coral;
}

/* Footer */

footer {
    /* debug */
    background-color: hotpink;
}
