/* import at rule */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://necolas.github.io/normalize.css/latest/normalize.css");

/* ! TODO -- Transform RGB To Hex -- ¡ */

/* Common */

html {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0px auto;
    max-width: 1400px;
    min-width: 375px;
}

h1, h2 {
    font-style: normal;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

article {
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
}


p {
    font-style: normal;
    font-size: 16px;
}

section p {
    font-size: 14px;
}

a {
    color: black;
    text-decoration: none;
}

/* Component */

/* Filter */

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px 0px 20px;
    height: 48px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    /* margin: 10px; */

    /* debug */
    background-color: white;
}

.filter:focus {
    background-color: #DEEBFF;
}

.filter p {
    font-weight: bold;
    font-size: 17px;
    margin-left: 10px;
}

.filter i {
    color: rgb(0, 101, 252);
}

/* Logo/nav container */
.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* [Begin TODO] Gérer l'égalité des largeurs des li */

.heading nav ul li p {
    padding-left: 10px;
    padding-right: 10px;
}

.heading ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* [END TODO] */

.heading li {
    border-top: 3px solid transparent;
}

.heading li:hover {
    border-color: rgba(0, 101, 252, 1);
}

.heading p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.heading p:hover {
    color: rgba(0, 101, 252, 1);
}

.heading img {
    width: 60px;
    height: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.heading-footer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.heading-footer > p {
    margin-top: -15px;
}

form {
    display: flex;
    flex-direction: row;
    height: 50px;
    border-radius: 15px;
    width: fit-content;
    background-color: #F2F2F2;
    font-size: 18px;
    font-weight: bold;
}

form > * {
    font-weight: inherit;
}

.searchIcon {
    align-self: center;
    padding-left: 16px;
    padding-right: 16px;
}

input[type="search"] {
    padding-left: 16px;
    border-color: #F2F2F2;
    border-style: solid;
}

.search-button {
    background-color: #0065FC;
    color: white;
    padding: 0px 16px 0px 16px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
}

/* Reset heading footer items */
.heading-footer > * {
    padding: 0px;
    margin: 0px;
}

#information-container {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.filter-bar {
    display: flex;
    flex-direction: row;
    column-gap: 36px;
    align-items: center;
}

/* Main */

.card-container {
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.10);
    background-color: white;
}

.collocation-section-grid article {
    flex-basis: calc(33.333333% - 30px);
}

.card-container-1 img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 125px;
    width: 100%;
    object-fit: cover;
}

.card-details-1 {
    padding: 10px;
}

.card-details-1 > * {
    padding: 0px;
    margin: 0px;
}

.card-container-2 {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    height: 145px;
}

.card-item-left {
    width: 40%;
}

.card-item-left > img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-item-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
}

.card-item-right-top {
    display: flex;
    flex-direction: column;
}

.card-item-right-top > * {
    padding: 0px;
    margin: 0px;
}

/* Section Activity */

.card-container-activity {
    padding: 0px;
}

.card-container-activity img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.card-container-activity h3 {
    padding-left: 16px;
}

.activity-section-grid {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}


/* Footer */

.section-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    column-gap: 100px;

    margin-top: 16px;

    background-color: #F2F2F2;
}

.section-footer li {
    margin-bottom: 12px;
}


/* Section Hébergements + Populaire */

.outer-section-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 40px;
}

.inner-section-container {
    padding: 40px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.inner-section-container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inner-section-container-header i {
    color: #0065FC;
}

.collocation-section-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    

    column-gap: 30px;
    row-gap: 30px;
}

.trend-section-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 30px;
    align-items: center;
}

/* Stars */

.stars-container {
    display: flex;
    flex-direction: row;
    column-gap: 2px;
}

.star-plain {
    color: #0065FC;
}

.star-bordered {
    color: #F2F2F2;
}


/* Media queries */


/* Tablet */
@media all and (min-width: 769px) and (max-width: 992px) 
{
    .outer-section-container {
        flex-wrap: wrap;
    }

    .inner-section-container {
        width: 100%;
    }

    .trend-section-grid {
        flex-direction: row;
        column-gap: 30px;
    }

    .card-container-2 {
        flex-basis: calc(33.333333% - 30px);
        height: auto;
    }

    .outer-section-container {
        row-gap: 20px;
    }

    .activity-section-grid {
        /* reset */
        column-gap: 0px;

        justify-content: space-between;
    }

    .card-container-activity {
        flex-basis: 22%;
    }

    .card-container-activity img {
        height: 265px;
    }
}


/* Phone */
@media all and (max-width: 768px)
{
    .heading {
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }

    .heading nav {
        width: 100%;
    }

    .heading nav ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .heading nav ul > * {
        flex: 1;
    }

    .heading li {
        /* reset */
        border-top: 0px solid transparent;

        border-bottom: 3px solid transparent;
    }

    .heading nav ul li p {
        /* reset */
        padding: 0px;

        text-align: center;
    }

    /* Filter (Phone) */

    .filter-bar {
        justify-content: space-around;
        column-gap: 0px;
        flex-wrap: wrap;
        align-items: flex-start;
        row-gap: 16px;
        column-gap: 16px;
    }

    .filter {
        flex-basis: 45%;
    }

    .filter p {
        font-size: 11px;
    }

    .outer-section-container {
        /* reset */
        row-gap: 0px;
        column-gap: 0px;

        flex-wrap: wrap;
    }

    .inner-section-container {
        width: 100%;
    }

    .inner-section-container {
        padding: 0px;
        background-color: #F2F2F2;

        /* reset */
        border-radius: 0px;
    }

    .collocation-section-grid {
        flex-direction: column;
    }

    .card-container {
        /* reset */
        padding: 0px;

        width: 100%;
    }

    .activity-section-grid {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        order: 3;
    }

    .card-container-activity img {
        height: 135px;
    }

    /* Hebergement à Marseille */
    .collocation-section-all {
        /* reset */
        width: 100%;
        background-color: white;

        order: 2
    }

    .trend-section-all {
        /* reset */
        width: 100%;

        order: 1;
    }

    .collocation-section-all, .trend-section-all, .activity-section-grid {
        padding: 16px;
    }

    .card-container-2 {
        height: auto;
    }

    .section-footer {
        flex-direction: column;
        row-gap: 0px;
    }
}